.topheader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.topheader-nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color-grey-light-1;
  height: 70px;
  box-shadow: 2px 1px 2px rgba($color-black, 0.4);
}

.topheader-nav {
  @include respond(tab-port) {
    display: none;
  }

  &__active {
    border-bottom: 5px solid $color-primary;
  }

  a {
    font-size: 2rem;
    // color: $color-primary;
    margin-left: 3rem;
  }

  a:hover {
    color: $color-primary;
  }
}

.app-main {
  padding-top: 10rem;
}
